USE [QUANLYPHONGTRO]
GO
/****** Object:  Table [dbo].[CT_DICHVU]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DICHVU](
	[MaHoaDon] [int] NOT NULL,
	[MaDichVu] [varchar](5) NOT NULL,
	[DonViSuDung] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_KHACH_THUE]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_KHACH_THUE](
	[MaKhach] [int] NOT NULL,
	[MaPhong] [varchar](5) NOT NULL,
	[NgayVaoPhong] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC,
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DAT_PHONG]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAT_PHONG](
	[MaDatPhong] [int] IDENTITY(1,1) NOT NULL,
	[MaPhong] [varchar](5) NULL,
	[MaKhach] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[DaDongYDieuKhoan] [bit] NOT NULL,
	[NoiDungHopDong] [nvarchar](max) NULL,
	[TrangThai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MaDichVu] [varchar](5) NOT NULL,
	[DichVu] [nvarchar](30) NULL,
	[GiaDichVu] [money] NULL,
	[MaLoaiDichVu] [varchar](5) NULL,
	[QuyCach] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEN_NUOC]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEN_NUOC](
	[MaPhong] [varchar](5) NOT NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[SoDien] [int] NULL,
	[SoNuoc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIA_THUE]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA_THUE](
	[SoNguoi] [int] NOT NULL,
	[GiaTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoNguoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaPhong] [varchar](5) NULL,
	[TrangThaiThanhToan] [bit] NULL,
	[NgayThanhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOP_DONG]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOP_DONG](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[NgayLap] [datetime] NULL,
	[MaPhong] [varchar](5) NULL,
	[MaDatPhong] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_THUE]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_THUE](
	[MaKhach] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](100) NOT NULL,
	[Phai] [nvarchar](10) NULL,
	[CMND] [varchar](12) NOT NULL,
	[QueQuan] [nvarchar](150) NULL,
	[NgheNghiep] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_DICH_VU]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_DICH_VU](
	[MaLoaiDichVu] [varchar](5) NOT NULL,
	[TenLoaiDichVu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_TRO]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_TRO](
	[MaPhong] [varchar](5) NOT NULL,
	[TrangThai] [bit] NULL,
	[ThongTinPhong] [nvarchar](50) NULL,
	[SoNguoi] [int] NULL,
	[GiaThue] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_KHACHTHUE]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_KHACHTHUE](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Pwd] [varchar](100) NOT NULL,
	[IsAdmin] [bit] NULL,
	[TinhTrang] [bit] NULL,
	[MaKhach] [int] NOT NULL,
	[Email] [varchar](50) NULL,
	[DienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YEU_CAU_DICH_VU]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YEU_CAU_DICH_VU](
	[MaYeuCau] [int] IDENTITY(1,1) NOT NULL,
	[MaKhach] [int] NULL,
	[MaPhong] [varchar](5) NULL,
	[TenDichVu] [nvarchar](100) NULL,
	[GiaTien] [money] NULL,
	[GhiChu] [nvarchar](255) NULL,
	[TrangThai] [int] NULL,
	[NgayYeuCau] [datetime] NULL,
	[NgayDuyet] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DAT_PHONG] ADD  DEFAULT ((0)) FOR [DaDongYDieuKhoan]
GO
ALTER TABLE [dbo].[DAT_PHONG] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT ((0)) FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[PHONG_TRO] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[PHONG_TRO] ADD  DEFAULT ((0)) FOR [GiaThue]
GO
ALTER TABLE [dbo].[USER_KHACHTHUE] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
ALTER TABLE [dbo].[USER_KHACHTHUE] ADD  DEFAULT ((1)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[YEU_CAU_DICH_VU] ADD  DEFAULT ((0)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[YEU_CAU_DICH_VU] ADD  DEFAULT (getdate()) FOR [NgayYeuCau]
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DICH_VU] ([MaDichVu])
GO
ALTER TABLE [dbo].[CT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOA_DON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CT_KHACH_THUE]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACH_THUE] ([MaKhach])
GO
ALTER TABLE [dbo].[CT_KHACH_THUE]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG_TRO] ([MaPhong])
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACH_THUE] ([MaKhach])
GO
ALTER TABLE [dbo].[DAT_PHONG]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG_TRO] ([MaPhong])
GO
ALTER TABLE [dbo].[DICH_VU]  WITH CHECK ADD FOREIGN KEY([MaLoaiDichVu])
REFERENCES [dbo].[LOAI_DICH_VU] ([MaLoaiDichVu])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG_TRO] ([MaPhong])
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaDatPhong])
REFERENCES [dbo].[DAT_PHONG] ([MaDatPhong])
GO
ALTER TABLE [dbo].[HOP_DONG]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG_TRO] ([MaPhong])
GO
ALTER TABLE [dbo].[USER_KHACHTHUE]  WITH CHECK ADD  CONSTRAINT [FK_USER_KHACH] FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACH_THUE] ([MaKhach])
GO
ALTER TABLE [dbo].[USER_KHACHTHUE] CHECK CONSTRAINT [FK_USER_KHACH]
GO
ALTER TABLE [dbo].[YEU_CAU_DICH_VU]  WITH CHECK ADD FOREIGN KEY([MaKhach])
REFERENCES [dbo].[KHACH_THUE] ([MaKhach])
GO
ALTER TABLE [dbo].[YEU_CAU_DICH_VU]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG_TRO] ([MaPhong])
GO
/****** Object:  StoredProcedure [dbo].[SuaKhachThue]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SuaKhachThue]
(
    @MaKhach INT,
    @TenKhach NVARCHAR(100),
    @Phai NVARCHAR(10),
    @CMND VARCHAR(12),
    @QueQuan NVARCHAR(150),
    @NgheNghiep NVARCHAR(100)
)
AS
BEGIN
    UPDATE KHACH_THUE
    SET TenKhach=@TenKhach, Phai=@Phai, CMND=@CMND,
        QueQuan=@QueQuan, NgheNghiep=@NgheNghiep
    WHERE MaKhach=@MaKhach;
END
GO
/****** Object:  StoredProcedure [dbo].[ThemChiTietDichVu]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[ThemChiTietDichVu]
(
    @MaHoaDon INT,
    @MaDichVu VARCHAR(5),
    @DonViSuDung INT
)
AS
BEGIN
    INSERT INTO CT_DICHVU VALUES (@MaHoaDon, @MaDichVu, @DonViSuDung);
END
GO
/****** Object:  StoredProcedure [dbo].[ThemHoaDon]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemHoaDon]
(
    @MaPhong VARCHAR(5),
    @NgayLap DATETIME
)
AS
BEGIN
    INSERT INTO HOA_DON (MaPhong, NgayLap)
    VALUES (@MaPhong, @NgayLap);
END
GO
/****** Object:  StoredProcedure [dbo].[ThemKhachThue]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemKhachThue]
(
    @TenKhach NVARCHAR(100),
    @Phai NVARCHAR(10),
    @CMND VARCHAR(12),
    @QueQuan NVARCHAR(150),
    @NgheNghiep NVARCHAR(100),
    @Username VARCHAR(50) = NULL,
    @Pwd VARCHAR(100) = NULL
)
AS
BEGIN
    DECLARE @MaKhach INT;

    INSERT INTO KHACH_THUE (TenKhach, Phai, CMND, QueQuan, NgheNghiep)
    VALUES (@TenKhach, @Phai, @CMND, @QueQuan, @NgheNghiep);

    SET @MaKhach = SCOPE_IDENTITY();

    IF @Username IS NOT NULL
    BEGIN
        INSERT INTO USER_KHACHTHUE (Username, Pwd, MaKhach)
        VALUES (@Username, @Pwd, @MaKhach);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[XoaKhach]    Script Date: 2/8/2026 4:39:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaKhach]
(
    @MaKhach INT
)
AS
BEGIN
    DELETE FROM CT_KHACH_THUE WHERE MaKhach=@MaKhach;
    DELETE FROM USER_KHACHTHUE WHERE MaKhach=@MaKhach;
    DELETE FROM KHACH_THUE WHERE MaKhach=@MaKhach;
END
GO
